<%- include('../partials/header') %>

<section class="events">
  <div class="events-header">
    <h2>Upcoming Events</h2>  
  </div>

<div class="events-grid">
  <div class="column">
    <% events.forEach((event, index) => { %>
      <% if (index % 2 === 0) { %> 
        <div class="event-card">
          <img src="<%= event.image %>" alt="<%= event.title %> image" class="event-image" />
          <h3><%= event.title %></h3>
          <p><strong>Date:</strong> <%= event.date %></p>
          <p><strong>Location:</strong> <%= event.location %></p>
        </div>
      <% } %>
    <% }) %>
  </div>

  <div class="divider-column"></div>
    <div class="column">
      <% events.forEach((event, index) => { %>
        <% if (index % 2 === 1) { %> 
          <div class="event-card">
            <img src="<%= event.image %>" alt="<%= event.title %> image" class="event-image" />
            <h3><%= event.title %></h3>
            <p><strong>Date:</strong> <%= event.date %></p>
            <p><strong>Location:</strong> <%= event.location %></p>
          </div>
        <% } %>
      <% }) %>
    </div>
  </div>
</section>

<%- include('../partials/footer') %>
